.card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: 20px;
    border-radius: 8px;
}

.card .title{
    background-color: #0003;
    width: 100%;
    text-align: center;
}

.card .content {
    padding: 50px;
    font-size: 1.5rem;
}
.card .content input{
    margin: 0 15px 0 5px;
    width: 100px;
    padding: 5px;
}